.form {
    display: flex;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    h1 {
        color: white;
        font-weight: 600;
    }
    input{
        margin-top: 20px;
        height: 50px;
        width: 400px;
        background: transparent;
        border: 2px solid;
        outline: none;
        color: #797979;
        font-size: 19px;
        padding-left: 20px;
        border-radius: 50px;
    }
    button {
        margin-top: 20px;
        width: 220px;
        height: 59px;
        color: black;
        cursor: pointer;
        border-radius: 50px;
        font-weight: 600;
        font-size: 20px
        
    }
    .subtitle {
        margin-top: 20px;
        color: white;
        font-weight: 600;
    }
}